<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Magazin Fitness</title>
        <meta name="keywords" content="internet, tehnici web, HTML, taguri" />
        <!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta
            name="description"
            content="Curs de Tehnici Web. Limbajul HTML. Taguri."
        />

        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>A doua pagina</main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>
