<!DOCTYPE html>
<html>
	<head>
		<title>Galerie Completă</title>
		<%- include("../fragmente/head.ejs") %>
	</head>
	<body>
		<%- include("../fragmente/header.ejs") %>
		<div class="container-galerie">
			<%- include("../fragmente/galerie.ejs") %>
		</div>
		<%-include("../fragmente/footer.ejs") %>
	</body>
</html>
