<footer>
    <a href="#" id="link-top">
        <div class="rotated-content">
            <div id="triunghi"></div>
        </div>
    </a>
    <br />
    <a href="tel:+40723248948">Call</a>
    <a href="mailto:vladgabrielapostol@gmail.com">Mail</a>
    <a
        href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica,+Bucuresti"
        target="_blank"
        rel="noopener noreferrer"
    >
        Adresa noastra
    </a>
    <iframe
        class="mapa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8841143984737!2d26.097011776145486!3d44.43553930148188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1741533829980!5m2!1sro!2sro"
        width="200"
        height="200"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <small>
        &copy; <time datetime="2024-03-08">8 martie 2024</time> - Toate
        drepturile rezervate.
    </small>
    <p>Acesta este un proiect scolar!</p>
</footer>
