<header>
    <nav>
        <ul class="nav-bar">
            <input type="checkbox" id="check" />
            <span class="menu">
                <li>
                    <i class="fas fa-home"></i>
                    <a href="#">Acasa</a>
                    <ul class="submenu">
                        <li><a href="#linkTabel">Tabel</a></li>
                        <li><a href="#item8">Informatii generale</a></li>
                    </ul>
                </li>
                <li><a href="/despre">Despre</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/produse">Produse</a></li>
                <label for="check" class="close-menu"
                    ><i class="fas fa-times"></i
                ></label>
            </span>
            <label for="check" class="open-menu"
                ><i class="fas fa-bars"></i
            ></label>
        </ul>
    </nav>
</header>
