<header class="c1" id="titlu">
    <h1>Site sali Fitness si Magazin</h1>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu" />
        </label>
        <input id="ch-menu" type="checkbox" />

        <ul class="meniu">
            <li>
                <!-- Toggle for submenu -->
                <input
                    type="checkbox"
                    id="sub-menu-toggle"
                    class="sub-toggle"
                />
                <label for="sub-menu-toggle">Acasa</label>

                <!-- Submenu -->
                <ul>
                    <li><a href="#linkTabel">Tabel produse</a></li>
                    <li><a href="#item8">Informatii generale</a></li>
                </ul>
            </li>
            <li><a href="#Despre">Despre</a></li>
            <li><a href="#Produse">Produse</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
    </nav>
</header>
