<header>
    <h1>Site Sali Fitness si Magazin</h1>
    <nav>
        <div id="navigatie">
            <ul class="menu">
                <li>
                    <input type="checkbox" id="submenu-toggle-1" />
                    <label for="submenu-toggle-1">Acasa</label>
                    <ul class="submenu">
                        <li><a href="#introducere">Introducere</a></li>
                        <li>
                            <a href="#intrebari">Intrebari frecvente</a>
                        </li>
                    </ul>
                </li>
                <li><a href="/despre">Abonamente</a></li>
                <li><a href="#subsectiune2">Nutritie</a></li>
                <li><a href="#subsectiune3">Imbracaminte</a></li>
            </ul>
        </div>
    </nav>
</header>
